html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

img {
  border: 0;  
}

body {
    width: 1000px;
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

.dialog textarea{
	background-color: #FFFFB5;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	border: 1px;
	border-bottom: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin: .8em 0 .3em 0;
	width: 100%;
}

h2 {
	font-weight: normal;
	font-size: 18px;
	border: 1px;
	border-bottom: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	margin: 1.6em 0 .3em 0;
}

.space {
	height: 10px;
}
.feed {
	float: right;
	height: 10px;
	margin-bottom: 10px;
}

.parameter {
	margin-bottom: 10px;
}

.parameter .name {
  font-weight: bold;
  margin-right: 5px;
}

ul {
    padding-left: 15px;	
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
	width: 980px;
   float: left;
   margin: 10px 15px 10px 15px;
}

.complexType {
	border: 1px dotted Black;
	margin: 10px;
	background-color: #FAEBD7;
}

/* NAVIGATION MENU */

.nav {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px dotted #F0F0F0;
	border-style: solid none solid none;
	margin-top: 5px;
	padding: 7px 12px;
}

.cloud {
	background-color: #EDF8F9;
}

.t0 {
	font-weight: bold;
	font-size: 12px;
}

.t1 {
	font-size: 17px;
}

.t2 {
	font-size: 17px;
	font-weight: bold;
}
.t3 {
	font-size: 22px;
}

.t4 {
	font-size: 22px;
	font-weight: bold;
}

.t5 {
	font-size: 27px;
}

.t6 {
	font-weight: bold;
	font-size: 27px;
}

.t7 {
	font-size: 32px;
}

.t8 {
	font-size: 32px;
	font-weight: bold;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */

table {
   border: 1px solid #ccc;
	width: 100%;
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}
td.rating {
  width:100px
}
td.status {
  width:20px
}
td.availability {
  width:80px
}
.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.prop .url {
    text-align: left;
    width: 500px;
}

.prop .url input {
    text-align: left;
    width: 500px;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.radioButtons{
	vertical-align: middle;
	width: 600px;
}

h1.line {
  color: black;
  font-weight: bold;
  background-color: #bbffbb;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #008800;
}

.notice {
  background-color: #FFFFCC;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

ul.nobullet {
  list-style-type: none;
}

.logo {
  width: 100%;
  height: 82px;
}

.logo .h {
  float:left;
}

.logo .b {
  float:left;
	font-size: x-large;
	color: Black;
}

.foot {
	margin-top: 30px;
  margin-left: 5px;
  float: left;
}

.foot .logo a img {
  float: left;
}
.foot .text {
  float: left;
}
/* YUI */

/*Help*/
.module { border:1px dotted black;padding:5px;margin:10px;width:250px; }
.module .hd {
  padding:5px;    
  font-size: 10px;
  font-weight: bold;  
}
.module .bd {
  padding:5px;    
  font-size: 12px;
}
.module .ft { padding:5px; }

