body {
	color: #333333;
	font: 12px 'ff-meta-web-pro-1','ff-meta-web-pro-2',helvetica,sans-serif;
        background-color: white;
}

h1, h2, h3, h4, h5 {	
	margin-bottom: 2px;
    margin-top: 20px;
}

h1 {
	font-size: 1.4em;
	color: #1e89dd;
}

h2,h2 {
	color: #808080;
	font-size: 1.4em;
}

a {
	color: #67adea;
	font-weight: 700;
	
}

table {
	border:1px solid black;
	margin-bottom: 0.5em;
	margin: 10px;
}

th {
	background-color: #48b9e3;
	color: white;
	font-weight: bold;
}

span {
	margin: 10px;
}


.notice {
    background-color: #FFFFCC;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: inline;
}


